ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
jsonschema==2.6.0
jupyter-client==5.2.4
jupyter-core==4.4.0
jupyterlab==0.35.4
jupyterlab-server==0.2.0
nbconvert==5.4.0
nbformat==4.4.0
notebook==5.7.4
numpy==1.15.4
termcolor==1.1.0
